In [65]:
import pandas as pd
df1 = pd.read_csv("c:/Users/dave/Downloads/FDI_and_Poverty/All_Countries/all_countries.csv")

df1.columns = [c.replace(' ', '_') for c in df1.columns]

df1 = df1.drop("Country_Code", axis=1)
df1 = df1.drop("Series_Code", axis=1)

In [66]:
all_countries = df1.melt(id_vars=["Country_Name", "Series_Name"],
        var_name = "Year",
        value_name = "Value")

In [67]:
all_countries.dropna(subset=["Value"], axis = 0, inplace = True)

In [68]:
all_countries.dtypes

Country_Name    object
Series_Name     object
Year            object
Value           object
dtype: object

In [70]:
all_countries.head()

,Country_Name,Series_Name,Year,Value
0,Sub-Saharan Africa,"Foreign direct investment, net (BoP, current US$)",1960_[YR1960],..
1,Sub-Saharan Africa,"Foreign direct investment, net outflows (BoP, ...",1960_[YR1960],..
2,Sub-Saharan Africa,Net official development assistance and offici...,1960_[YR1960],597350000
3,Sub-Saharan Africa,Adjusted net national income per capita (curre...,1960_[YR1960],..
4,Sub-Saharan Africa,"Inflation, GDP deflator (annual %)",1960_[YR1960],..

In [63]:
all_countries.dtypes

Country_Name    object
Series_Name     object
Year            object
Value           object
dtype: object

In [79]:
all_countries.Value

0                       ..
1                       ..
2                597350000
3                       ..
4                       ..
5                       ..
6                       ..
7                       ..
8                       ..
9                       ..
10                      ..
11                      ..
12                17180000
13                      ..
14                      ..
15                      ..
16                      ..
17        9.27272669797149
18                      ..
19                      ..
20                      ..
21                      ..
22                      ..
23                      ..
24                      ..
25                      ..
26                      ..
27                      ..
28                      ..
29                      ..
                ...
158665                  ..
158666                  ..
158667                  ..
158668                  ..
158669                  ..
158670                  ..
158671                  ..
158672                  ..
158673                  ..
158674                  ..
158675                  ..
158676                  ..
158677                  ..
158678                  ..
158679                  ..
158680                  ..
158681                  ..
158682                  ..
158683                  ..
158684                  ..
158685                  ..
158686                  ..
158687                  ..
158688                  ..
158689                  ..
158690                  ..
158691                  ..
158692                  ..
158693                  ..
158694                  ..
Name: Value, Length: 158400, dtype: object

In [74]:
all_countries.set_index(['Country_Name','Year']).Import.unstack().reset_index()

AttributeError: 'DataFrame' object has no attribute 'Import'

In [57]:
all_countries.dropna(subset=["Value"], axis = 0, inplace = True)

all_countries.head()

,Country_Name,Series_Name,Year,Value
0,Sub-Saharan Africa,"Foreign direct investment, net (BoP, current US$)",1960_[YR1960],..
1,Sub-Saharan Africa,"Foreign direct investment, net outflows (BoP, ...",1960_[YR1960],..
2,Sub-Saharan Africa,Net official development assistance and offici...,1960_[YR1960],597350000
3,Sub-Saharan Africa,Adjusted net national income per capita (curre...,1960_[YR1960],..
4,Sub-Saharan Africa,"Inflation, GDP deflator (annual %)",1960_[YR1960],..

In [ ]:
all_countries['Value'] = all_countries['Value'].astype(str).astype(int)

In [71]:
test = all_countries.pivot(index = ['Country_Name','Year'], 
                           columns = 'Series_Name',
                           values = 'Value')

print(test)

ValueError: Wrong number of items passed 158400, placement implies 2