In [1]:
import numpy as np
import pandas as pd
import statsmodels as sm
from linearmodels import PanelOLS
from linearmodels import RandomEffects

In [11]:
df = pd.read_csv("individual_african_countries.csv")

In [12]:
df.dtypes

country_id          int64
country_name       object
year                int64
credit            float64
edu               float64
fdi               float64
gdp               float64
inflation         float64
infrastructure    float64
inst              float64
pov_190           float64
pov_320           float64
pov_550           float64
pov_line          float64
trade_free        float64
ln_gdp            float64
ln_fdi            float64
dtype: object

In [13]:
df.describe()

,country_id,year,credit,edu,fdi,gdp,inflation,infrastructure,inst,pov_190,pov_320,pov_550,pov_line,trade_free,ln_gdp,ln_fdi
count,657.000000,657.000000,511.000000,594.000000,538.000000,4.640000e+02,525.000000,594.000000,403.000000,594.000000,594.000000,594.000000,594.000000,627.000000,464.000000,518.000000
mean,463.640791,2014.474886,30.390231,36.635687,920.324845,3.304218e+10,6.243749,30.661668,2.966998,35.999500,57.498091,76.232274,44.464927,67.363317,22.878955,5.759405
std,251.447405,3.442435,28.426603,12.584501,1670.797080,7.021426e+10,9.918426,9.433437,0.494122,23.537637,26.507895,22.896943,17.342447,10.094602,1.668514,1.865024
min,12.000000,2009.000000,-114.693667,11.679608,-7397.295409,1.438457e+08,-29.691067,15.148351,1.400000,0.300000,2.500000,6.600000,4.800000,27.200000,18.784252,-2.891718
25%,231.000000,2011.000000,16.482496,26.330921,91.067500,2.699996e+09,1.359693,24.236635,2.600000,14.900000,37.500000,64.700000,35.000000,61.200000,21.716462,4.712559
50%,466.000000,2014.000000,23.325023,34.688585,378.659151,8.764215e+09,4.393191,28.321673,3.000000,35.600000,64.800000,84.800000,46.400000,68.200000,22.893943,5.988924
75%,706.000000,2017.000000,36.256031,45.465979,1106.825000,2.602054e+10,9.666184,35.477348,3.300000,54.200000,79.300000,93.000000,55.175000,73.450000,23.982149,7.032847
max,894.000000,2020.000000,125.673041,67.912260,10028.215163,4.652949e+11,95.408660,60.283384,4.100000,94.100000,98.500000,99.700000,82.300000,90.000000,26.865937,9.213158

In [41]:
data = df.set_index(['country_name','year'])
mod1 = PanelOLS(data.pov_320, data[['credit','edu','fdi','gdp','inflation','infrastructure','inst','trade_free']], time_effects = True, entity_effects=True)
res1 = mod1.fit(cov_type='clustered', cluster_entity=True)

In [42]:
res1

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                pov_320   R-squared:                        0.0664
Estimator:                   PanelOLS   R-squared (Between):              0.0668
No. Observations:                 317   R-squared (Within):               0.0714
Date:                Tue, Apr 21 2020   R-squared (Overall):              0.0654
Time:                        12:23:38   Log-likelihood                   -828.92
Cov. Estimator:             Clustered
                                        F-statistic:                      2.3366
Entities:                          38   P-value                           0.0193
Avg Obs:                       8.3421   Distribution:                   F(8,263)
Min Obs:                       3.0000
Max Obs:                       9.0000   F-statistic (robust):             1.7849
                                        P-value                           0.0801
Time periods:                       9   Distribution:                   F(8,263)
Avg Obs:                       35.222
Min Obs:                       34.000
Max Obs:                       36.000

                               Parameter Estimates
==================================================================================
                Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
----------------------------------------------------------------------------------
credit            -0.0643     0.0840    -0.7652     0.4448     -0.2298      0.1012
edu               -0.2374     0.4084    -0.5814     0.5615     -1.0416      0.5668
fdi               -0.0002     0.0003    -0.7456     0.4566     -0.0009      0.0004
gdp            -2.716e-12  1.005e-11    -0.2702     0.7872  -2.251e-11   1.708e-11
inflation          0.0095     0.0284     0.3348     0.7381     -0.0464      0.0655
infrastructure     0.3929     0.4022     0.9768     0.3296     -0.3991      1.1849
inst              -2.7030     3.8249    -0.7067     0.4804     -10.234      4.8283
trade_free         0.1428     0.0606     2.3562     0.0192      0.0235      0.2621
==================================================================================

F-test for Poolability: 102.19
P-value: 0.0000
Distribution: F(45,263)

Included effects: Entity, Time
PanelEffectsResults, id: 0x1a4e7d7ee08

In [20]:
from linearmodels import BetweenOLS
data = df.set_index(['country_name','year'])
mod2 = BetweenOLS(data.pov_190, data[['credit','edu','inflation','inst','ln_gdp','trade_free']])
res2 = mod2.fit(cov_type='robust')

res2

In [24]:
df.fdi.min()

-7397.2954091899

In [22]:
df[(df.fdi < 0)]

,country_id,country_name,year,credit,edu,fdi,gdp,inflation,infrastructure,inst,pov_190,pov_320,pov_550,pov_line,trade_free,ln_gdp,ln_fdi
6,12,Algeria,2015,39.970685,60.795475,-584.460000,1.309258e+11,-6.455600,36.357971,NaN,0.5,3.9,29.2,5.5,60.8,25.597897,NaN
13,24,Angola,2010,18.961168,25.699628,-3227.211182,2.588663e+10,31.689169,20.964634,2.4,30.1,55.7,79.4,36.6,70.4,23.976993,NaN
14,24,Angola,2011,15.497628,25.759604,-3023.770966,3.619149e+10,31.771543,22.365903,2.3,30.1,55.7,79.4,36.6,70.2,24.312090,NaN
15,24,Angola,2012,13.947739,26.258911,-1464.627991,4.493651e+10,7.255710,22.401275,2.3,30.1,55.7,79.4,36.6,65.2,24.528516,NaN
16,24,Angola,2013,17.139388,26.310635,-7120.017424,5.499388e+10,2.839744,23.100273,2.3,30.1,55.7,79.4,36.6,70.2,24.730488,NaN
19,24,Angola,2016,27.334951,26.785071,-179.517619,5.621731e+10,21.774300,23.961327,NaN,30.1,55.7,79.4,36.6,70.2,24.752491,NaN
20,24,Angola,2017,29.612630,25.721261,-7397.295409,6.405451e+10,22.614505,25.094059,NaN,30.1,55.7,79.4,36.6,56.7,24.883000,NaN
21,24,Angola,2018,23.594517,25.904261,-5732.491000,NaN,34.844872,26.211863,NaN,30.1,55.7,79.4,36.6,59.5,NaN,NaN
49,120,Cameroon,2010,9.285943,39.139144,-0.551000,2.155845e+10,1.909828,24.605518,2.9,29.3,55.7,79.6,39.9,59.7,23.794034,NaN
89,148,Chad,2014,11.047431,18.912412,-675.545915,1.064392e+10,0.645785,15.518076,2.6,38.4,66.5,86.2,46.7,55.2,23.088254,NaN
111,178,Congo (Brazzaville),2012,-8.933053,39.726363,-282.835188,2.320497e+09,-1.169938,24.702206,2.5,53.4,75.2,89.4,46.5,60.7,21.565047,NaN
195,266,Gabon,2012,14.103628,53.481594,-220.873666,8.989536e+09,-2.941903,30.053999,NaN,8.0,25.8,56.1,32.7,61.1,22.919327,NaN
211,270,Gambia,2016,NaN,35.197553,-27.700000,1.003229e+09,7.820623,30.358981,2.9,25.1,53.0,80.4,48.6,65.0,20.726490,NaN
335,478,Mauritania,2009,43.714176,22.460303,-3.072044,2.731877e+09,1.121313,24.926252,3.0,14.4,42.5,74.9,42.0,75.6,21.728255,NaN
530,728,South Sudan,2013,6.907998,16.164196,-793.000000,NaN,36.512159,28.480123,2.0,42.7,64.8,84.8,50.1,NaN,NaN,NaN
532,728,South Sudan,2015,33.699180,16.024869,-71.000000,NaN,17.689332,28.402705,1.7,42.7,64.8,84.8,55.1,NaN,NaN,NaN
533,728,South Sudan,2016,NaN,15.147320,-17.000000,NaN,NaN,27.223354,1.5,42.7,64.8,84.8,65.6,NaN,NaN,NaN
557,748,Eswatini,2017,23.888468,40.838038,-55.968261,3.741379e+09,2.853882,35.838727,NaN,42.0,64.4,82.0,63.0,88.9,22.042720,NaN
568,768,Togo,2016,44.553756,36.480790,-46.276900,3.515113e+09,1.909545,23.457676,2.7,54.2,75.4,90.1,55.1,71.2,21.980337,NaN
611,818,Egypt,2011,74.610260,49.476988,-483.000000,1.953133e+11,11.662976,37.860623,NaN,3.9,30.7,75.3,25.2,74.0,25.997871,NaN

In [30]:
df[(df.country_name == 'Ghana')]

,country_id,country_name,year,credit,edu,fdi,gdp,inflation,infrastructure,inst,pov_190,pov_320,pov_550,pov_line,trade_free,ln_gdp,ln_fdi
216,288,Ghana,2009,28.700353,43.927639,2897.10,1.997554e+10,15.666569,33.314196,3.8,24.5,50.1,77.1,31.9,63.0,23.717774,7.971466
217,288,Ghana,2010,28.370439,43.818292,2527.36,2.426315e+10,16.595645,33.688996,3.7,24.5,50.1,77.1,31.9,65.3,23.912224,7.834931
218,288,Ghana,2011,27.480177,43.878637,3237.39,2.787348e+10,13.914822,34.201155,3.7,24.5,50.1,77.1,31.9,67.8,24.050942,8.082523
219,288,Ghana,2012,31.335666,45.409979,3293.43,2.792986e+10,15.205279,34.116201,3.7,24.5,50.1,77.1,31.9,67.8,24.052962,8.099685
220,288,Ghana,2013,26.382898,47.870769,3226.33,4.576723e+10,52.988982,34.819073,3.7,24.5,50.1,77.1,24.2,67.8,24.546834,8.079101
221,288,Ghana,2014,27.861246,48.522143,3356.99,3.657188e+10,22.164000,34.318369,3.4,12.0,32.5,60.5,24.2,64.8,24.322545,8.118800
222,288,Ghana,2015,27.191354,49.182444,3192.30,3.384623e+10,13.588402,35.007938,3.7,12.0,32.5,60.5,24.2,64.8,24.245094,8.068497
223,288,Ghana,2016,26.678076,48.936079,3485.30,3.741008e+10,15.249381,37.615195,3.6,12.0,32.5,60.5,24.2,65.0,24.345206,8.156309
224,288,Ghana,2017,24.503817,49.628497,3255.00,3.711262e+10,10.352752,37.829306,3.6,12.0,32.5,60.5,23.4,65.1,24.337223,8.087948
225,288,Ghana,2018,26.067048,49.584766,2989.00,NaN,10.210203,37.999082,3.6,13.3,30.5,56.9,23.4,65.1,NaN,8.002694
226,288,Ghana,2019,NaN,50.253752,NaN,NaN,NaN,38.262295,NaN,13.3,30.5,56.9,23.4,63.4,NaN,NaN
227,288,Ghana,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.8,NaN,NaN