In [1]:
import numpy as np
import pandas as pd
import statsmodels as sm
from linearmodels import PanelOLS
from linearmodels import RandomEffects

In [3]:
df = pd.read_csv("individual_african_countries.csv")

In [36]:
df.dtypes

country_id        int64
country_name     object
year              int64
credit          float64
edu             float64
fdi             float64
gdp             float64
inflation       float64
inst            float64
pov_190         float64
pov_320         float64
pov_550         float64
pov_line        float64
trade_free      float64
ln_gdp          float64
ln_fdi          float64
dtype: object

In [4]:
df.describe()

,country_id,year,credit,edu,fdi,gdp,inflation,inst,pov_190,pov_320,pov_550,pov_line,trade_free,ln_gdp,ln_fdi
count,657.000000,657.000000,511.000000,377.000000,5.480000e+02,4.640000e+02,525.000000,403.000000,594.000000,594.000000,594.000000,594.000000,627.000000,464.000000,515.000000
mean,463.640791,2014.474886,30.390231,112.394714,1.557262e+07,3.304218e+10,6.243749,2.966998,35.999500,57.498091,76.232274,44.464927,67.363317,22.878955,-inf
std,251.447405,3.442435,28.426603,27.437472,3.381920e+07,7.021426e+10,9.918426,0.494122,23.537637,26.507895,22.896943,17.342447,10.094602,1.668514,NaN
min,12.000000,2009.000000,-114.693667,61.664890,-2.610000e+02,1.438457e+08,-29.691067,1.400000,0.300000,2.500000,6.600000,4.800000,27.200000,18.784252,-inf
25%,231.000000,2011.000000,16.482496,96.618410,1.000000e-01,2.699996e+09,1.359693,2.600000,14.900000,37.500000,64.700000,35.000000,61.200000,21.716462,-2.302585
50%,466.000000,2014.000000,23.325023,105.310200,6.250000e+01,8.764215e+09,4.393191,3.000000,35.600000,64.800000,84.800000,46.400000,68.200000,22.893943,4.644391
75%,706.000000,2017.000000,36.256031,128.600800,4.897500e+03,2.602054e+10,9.666184,3.300000,54.200000,79.300000,93.000000,55.175000,73.450000,23.982149,8.587558
max,894.000000,2020.000000,125.673041,200.696700,8.888889e+07,4.652949e+11,95.408660,4.100000,94.100000,98.500000,99.700000,82.300000,90.000000,26.865937,18.302898

In [53]:
data = df.set_index(['country_name','year'])
mod1 = PanelOLS(data.pov_190, data[['credit','edu','inflation','inst','ln_gdp','fdi','trade_free']], entity_effects=True)
res1 = mod1.fit(cov_type='clustered', cluster_entity=True)

In [54]:
res1

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                pov_190   R-squared:                        0.2513
Estimator:                   PanelOLS   R-squared (Between):             -34.462
No. Observations:                 246   R-squared (Within):               0.2513
Date:                Thu, Apr 09 2020   R-squared (Overall):             -32.079
Time:                        10:37:39   Log-likelihood                   -732.04
Cov. Estimator:             Clustered
                                        F-statistic:                      9.6398
Entities:                          38   P-value                           0.0000
Avg Obs:                       6.4737   Distribution:                   F(7,201)
Min Obs:                       1.0000
Max Obs:                       9.0000   F-statistic (robust):             5.2582
                                        P-value                           0.0000
Time periods:                       9   Distribution:                   F(7,201)
Avg Obs:                       27.333
Min Obs:                       23.000
Max Obs:                       30.000

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
credit        -0.3409     0.0852    -4.0032     0.0001     -0.5089     -0.1730
edu            0.0520     0.0602     0.8640     0.3886     -0.0666      0.1706
inflation      0.1027     0.0558     1.8400     0.0672     -0.0074      0.2128
inst          -3.0709     5.5585    -0.5525     0.5812     -14.031      7.8897
ln_gdp        -11.082     3.1553    -3.5122     0.0005     -17.304     -4.8603
fdi         3.917e-08  7.933e-09     4.9376     0.0000   2.353e-08   5.481e-08
trade_free     0.1384     0.1510     0.9160     0.3608     -0.1595      0.4362
==============================================================================

F-test for Poolability: 53.254
P-value: 0.0000
Distribution: F(37,201)

Included effects: Entity
PanelEffectsResults, id: 0x2a51ea96b88

In [40]:
from linearmodels import BetweenOLS
data = df.set_index(['country_name','year'])
mod2 = BetweenOLS(data.pov_190, data[['credit','edu','inflation','inst','ln_gdp','trade_free']])
res2 = mod2.fit(cov_type='robust')

res2

In [45]:
df.fdi.min()

-261.0

In [46]:
df[(df.fdi < 0)]

,country_id,country_name,year,credit,edu,fdi,gdp,inflation,inst,pov_190,pov_320,pov_550,pov_line,trade_free,ln_gdp,ln_fdi
33,72,Botswana,2018,19.769432,NaN,-11.0,NaN,0.927814,NaN,16.100000,38.500000,60.400000,19.3,83.9,NaN,NaN
110,178,Congo (Brazzaville),2011,-16.134292,NaN,-198.0,1.536106e+09,10.670287,2.6,53.400000,75.200000,89.400000,50.7,61.0,21.152517,NaN
112,178,Congo (Brazzaville),2013,-7.235980,NaN,-191.0,3.843535e+09,-3.658244,2.5,37.000000,61.300000,82.400000,46.5,60.7,22.069658,NaN
113,178,Congo (Brazzaville),2014,0.814504,NaN,-64.0,4.972738e+09,-5.668964,2.5,37.000000,61.300000,82.400000,46.5,55.6,22.327236,NaN
173,232,Eritrea,2014,NaN,NaN,-2.0,NaN,NaN,2.6,27.119582,57.614549,83.482734,69.0,69.1,NaN,NaN
174,232,Eritrea,2015,NaN,69.18464,-2.0,NaN,NaN,2.5,27.119582,57.614549,83.482734,69.0,69.2,NaN,NaN
175,232,Eritrea,2016,NaN,65.19705,-2.0,NaN,NaN,2.5,27.119582,57.614549,83.482734,69.0,69.2,NaN,NaN
176,232,Eritrea,2017,NaN,64.95305,-2.0,NaN,NaN,2.5,27.119582,57.614549,83.482734,69.0,69.2,NaN,NaN
177,232,Eritrea,2018,NaN,NaN,-2.0,NaN,NaN,2.6,27.119582,57.614549,83.482734,69.0,69.2,NaN,NaN
192,266,Gabon,2009,7.895762,NaN,-78.0,7.078337e+09,-18.074535,NaN,8.000000,25.800000,56.100000,32.7,57.0,22.680305,NaN
197,266,Gabon,2014,13.824696,NaN,-64.0,1.171955e+10,-0.851390,NaN,8.000000,25.800000,56.100000,32.7,61.0,23.184524,NaN
198,266,Gabon,2015,16.880055,NaN,-145.0,1.013779e+10,-8.927172,NaN,8.000000,25.800000,56.100000,32.7,61.0,23.039536,NaN
199,266,Gabon,2016,23.186805,NaN,-165.0,1.001447e+10,-4.269754,NaN,8.000000,25.800000,56.100000,32.7,61.8,23.027297,NaN
200,266,Gabon,2017,18.359014,NaN,-251.0,1.034155e+10,3.812945,NaN,8.000000,25.800000,56.100000,32.7,61.8,23.059435,NaN
241,384,Cote d'Ivoire,2010,26.860952,NaN,-1.0,2.239960e+10,5.386423,2.4,29.100000,57.100000,80.800000,48.9,64.3,23.832309,NaN
242,384,Cote d'Ivoire,2011,27.355063,74.88775,-13.0,2.230856e+10,1.635424,2.7,29.100000,57.100000,80.800000,48.9,72.2,23.828236,NaN
243,384,Cote d'Ivoire,2012,27.939105,82.42944,-40.0,2.396204e+10,3.154865,2.8,29.100000,57.100000,80.800000,48.9,70.3,23.899737,NaN
246,384,Cote d'Ivoire,2015,32.252519,98.29878,-20.0,3.664401e+10,3.106152,3.1,29.100000,57.100000,80.800000,48.9,71.4,24.324516,NaN
248,384,Cote d'Ivoire,2017,37.438543,102.66030,-146.0,NaN,-1.742196,3.2,28.200000,57.400000,82.300000,46.3,72.3,NaN,NaN
249,384,Cote d'Ivoire,2018,39.074968,102.09660,-261.0,NaN,0.430714,3.3,28.200000,57.400000,82.300000,46.3,73.7,NaN,NaN
312,454,Malawi,2010,23.259205,157.20720,-3.0,5.204831e+09,12.127179,3.4,73.400000,90.600000,97.100000,52.4,68.6,22.372853,NaN
313,454,Malawi,2011,26.686862,156.48230,-17.0,6.082525e+09,14.075761,3.3,73.400000,90.600000,97.100000,50.7,71.0,22.528686,NaN
314,454,Malawi,2012,25.164706,158.02530,-5.0,4.320544e+09,17.656101,3.3,71.700000,89.100000,96.200000,50.7,70.9,22.186647,NaN
315,454,Malawi,2013,20.960643,163.82260,-5.0,3.884842e+09,27.300397,3.1,71.700000,89.100000,96.200000,50.7,71.8,22.080348,NaN
344,478,Mauritania,2018,NaN,105.08430,-35.0,NaN,2.754436,3.3,6.000000,24.100000,58.800000,31.0,61.5,NaN,NaN
388,516,Namibia,2014,55.534914,NaN,-1.0,1.125991e+10,6.258176,NaN,22.600000,47.000000,67.300000,28.7,82.9,23.144515,NaN
389,516,Namibia,2015,55.513136,NaN,-30.0,1.013523e+10,1.951957,NaN,22.600000,47.000000,67.300000,28.7,71.2,23.039284,NaN
390,516,Namibia,2016,57.756630,NaN,-52.0,9.572860e+09,9.380938,NaN,22.600000,47.000000,67.300000,17.4,83.4,22.982198,NaN
391,516,Namibia,2017,58.802883,NaN,-77.0,1.135064e+10,9.747235,NaN,13.400000,29.600000,50.100000,17.4,83.5,23.152540,NaN
456,686,Senegal,2010,26.472796,99.85160,-31.0,1.438519e+10,1.075159,3.5,37.400000,67.300000,88.600000,48.3,69.7,23.389465,NaN
457,686,Senegal,2011,28.128689,101.03430,-43.0,1.559384e+10,3.538468,3.6,37.400000,67.300000,88.600000,48.3,73.2,23.470142,NaN
458,686,Senegal,2012,27.776059,100.67290,-59.0,1.542868e+10,2.618881,3.6,37.400000,67.300000,88.600000,46.7,72.2,23.459494,NaN
523,716,Zimbabwe,2018,48.000307,NaN,-2.0,NaN,28.005545,2.8,21.400000,47.200000,74.000000,72.3,69.1,NaN,NaN

In [60]:
df[(df.country_name == 'Egypt')]

,country_id,country_name,year,credit,edu,fdi,gdp,inflation,inst,pov_190,pov_320,pov_550,pov_line,trade_free,ln_gdp,ln_fdi
609,818,Egypt,2009,75.114546,100.75147,10257.0,1.646441e+11,11.185542,NaN,4.4,32.6,75.8,21.6,63.4,25.827052,9.235716
610,818,Egypt,2010,69.422034,100.68340,12599.0,1.868892e+11,10.106865,NaN,3.9,30.7,75.3,21.6,74.0,25.953782,9.441373
611,818,Egypt,2011,74.610260,101.91290,15428.0,1.953133e+11,11.662976,NaN,3.9,30.7,75.3,25.2,74.0,25.997871,9.643939
612,818,Egypt,2012,73.056500,100.88740,17341.0,2.373845e+11,19.482877,NaN,3.0,26.6,72.5,25.2,74.0,26.192947,9.760829
613,818,Egypt,2013,81.236921,102.46720,18796.0,2.454243e+11,8.712675,NaN,3.0,26.6,72.5,26.3,73.8,26.226255,9.841399
614,818,Egypt,2014,87.055764,103.31510,88888888.0,2.628309e+11,11.247625,NaN,2.3,22.7,70.3,26.3,71.4,26.294777,18.302898
615,818,Egypt,2015,95.266988,NaN,14068.0,3.001849e+11,9.930890,NaN,2.3,22.7,70.3,26.3,70.0,26.427664,9.551658
616,818,Egypt,2016,119.600129,102.50780,12561.0,3.031192e+11,6.245663,NaN,2.3,22.7,70.3,27.8,70.6,26.437392,9.438352
617,818,Egypt,2017,99.047922,105.11240,9352.0,2.089561e+11,22.932554,NaN,1.3,16.1,61.9,27.8,70.2,26.065390,9.143346
618,818,Egypt,2018,91.810166,101.77790,8384.0,NaN,21.426226,NaN,1.3,16.1,61.9,27.8,70.9,NaN,9.034080
619,818,Egypt,2019,NaN,NaN,NaN,NaN,NaN,NaN,1.3,16.1,61.9,27.8,71.8,NaN,NaN
620,818,Egypt,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.2,NaN,NaN