In [2]:
import numpy as np
import pandas as pd
import statsmodels as sm
from linearmodels import PanelOLS
from linearmodels import RandomEffects

In [3]:
df = pd.read_csv("c:/Users/dave/Downloads/FDI_and_Poverty/africaa.csv")

In [4]:
df

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019]
0,Benin,BEN,Net official development assistance and offici...,DT.ODA.ALLD.CD,20000,1480000,3750000,4260000,18070000,17880000,...,689270000,672610000,507880000,660200000,599320000,430140000,493120000,675840000,..,..
1,Benin,BEN,Adjusted net national income (current US$),NY.ADJ.NNTY.CD,..,..,..,..,..,..,...,5862986055.78845,6595986476.98556,6831875771.67194,7662100269.38289,8117977829.41299,6896209255.9265,7141863203.78758,7674482533.80212,..,..
2,Benin,BEN,"Inflation, GDP deflator (annual %)",NY.GDP.DEFL.KD.ZG,..,1.04143567170696,3.78056113597356,2.54904113249346,-0.363671982972079,2.05762045820276,...,0.884971820845109,3.73387752539995,7.69269660821384,1.40667989004544,-0.248640138745643,0.0757471376386718,-0.279995285501528,0.0317074176629149,-0.00583222754814017,..
3,Benin,BEN,Domestic credit provided by financial sector (...,FS.AST.DOMS.GD.ZS,..,..,7.11205157750949,7.48998201243852,7.65356385811205,6.86885768588297,...,18.6292371169474,21.7661835151617,20.0090459120145,20.9659260719916,22.7565556019852,22.9208587550498,26.4118693108681,28.3664938312284,26.9585214712877,..
4,Benin,BEN,Poverty headcount ratio at $1.90 a day (2011 P...,SI.POV.DDAY,..,..,..,..,..,..,...,..,53.1,..,..,..,49.5,..,..,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
496,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499,Last Updated: 12/20/2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
data = df.set_index(['country_name','year'])
mod = PanelOLS(data.poverty_ratio, data[['net_aid','fdi_inflows','nni','inflation','credit','education','bureaucracy']], entity_effects=True)
res = mod.fit(cov_type='clustered', cluster_entity=True)

In [26]:
res

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:          poverty_ratio   R-squared:                        0.0276
Estimator:                   PanelOLS   R-squared (Between):              0.5730
No. Observations:                3300   R-squared (Within):               0.0276
Date:                Sun, Dec 29 2019   R-squared (Overall):              0.0717
Time:                        09:54:00   Log-likelihood                 -1.27e+04
Cov. Estimator:             Clustered
                                        F-statistic:                      13.148
Entities:                          55   P-value                           0.0000
Avg Obs:                       60.000   Distribution:                  F(7,3238)
Min Obs:                       60.000
Max Obs:                       60.000   F-statistic (robust):             17.158
                                        P-value                           0.0000
Time periods:                      60   Distribution:                  F(7,3238)
Avg Obs:                       55.000
Min Obs:                       55.000
Max Obs:                       55.000

                              Parameter Estimates
===============================================================================
             Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------
net_aid      2.254e-09  9.322e-10     2.4177     0.0157    4.26e-10   4.082e-09
fdi_inflows     0.0554     0.0381     1.4556     0.1456     -0.0192      0.1301
nni         -1.354e-11  6.799e-12    -1.9919     0.0465  -2.687e-11   -2.12e-13
inflation   -6.744e-05  4.224e-05    -1.5964     0.1105     -0.0002   1.539e-05
credit         -0.0013     0.0004    -3.3474     0.0008     -0.0021     -0.0005
education       0.0184     0.0048     3.8351     0.0001      0.0090      0.0277
bureaucracy     0.3803     0.2620     1.4515     0.1467     -0.1334      0.8940
===============================================================================

F-test for Poolability: 1.8699
P-value: 0.0001
Distribution: F(54,3238)

Included effects: Entity
PanelEffectsResults, id: 0x14d7aad8808

In [16]:
data.describe()

,net_aid,fdi_inflows,nni,inflation,credit,poverty_ratio,education,poverty_gap,bureaucracy,log_fdi
count,3.300000e+03,3300.000000,3.300000e+03,3300.000000,3300.000000,3300.000000,3300.000000,3300.000000,3300.000000,3108.000000
mean,3.082974e+08,1.949229,8.961582e+09,22.548226,21.350319,2.553818,42.781751,1.076212,0.502333,-inf
std,5.924582e+08,6.364246,3.280997e+10,483.869805,96.377598,11.738921,51.766217,5.413632,1.131324,NaN
min,-1.137000e+08,-28.624256,-5.062520e+08,-29.691067,-114.693667,0.000000,0.000000,0.000000,0.000000,-inf
25%,1.457000e+07,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-inf
50%,8.916500e+07,0.162612,5.577620e+08,3.596088,12.986049,0.000000,0.000000,0.000000,0.000000,-1.232362
75%,3.373375e+08,1.998828,4.274201e+09,10.470268,28.200608,0.000000,93.209187,0.000000,0.000000,0.760776
max,1.143196e+10,161.823751,4.652950e+11,26765.858250,4310.716192,94.100000,267.677612,63.600000,4.100000,5.086508